body {background-color: pink; }
h1 {color: Purple;font-size: 250%; text-align: center;}
h2 {color: #DC143C ;font-size: 250%; text-align: center;}
h3,h4 { font-size: 175%; text-align: center; }
h6 {font-size: 175%; }
#para1 { text-align: center; color: #DC143C; font-style: italic; }
#para2 (font-style: italic;)