* {

	margin : 0 ;
	padding: 0 ;
}

body {
	font-family: Arial, sans-serif ;
	background-color: #ff99cc ;
	text-align : center ;

}

header {

	background-color: #ffccf2 ;
	color : white ;
	padding: 15px ;
	
}

.topnav {

	display: flex;
	justify-content: center ;
	align-items:center;

}

.topnav-links {

	list-style: none;
	link-style: none;
	display: flex ;
	justify-content: center ;


}

.topnav-links li {

	margin: 0 45px;
	text-align: center;
	

}

.topnav-links a {

	color : hotpink ;
	text-decoration: none;
	font-size: 20 px ;

}

.topnav-links a:hover {

	color : #ff3399 ;
	font-size: 22px ;
}

 /* .topnav-links a:visited { THIS IS COMMENTED OUT RN

	color: red ;

} */

.content {

	display : flex ;
	padding: 20px ;
	background-color: white ;
	
}

.box1 {

	background-color: #ff99c2 ;
	padding: 15px ;
	width: 100%;
	text-align: center;	

}

.box2 {

	background-color: #e6ccff ;
	padding: 15px ;
	width: 100%;
	text-align: center;	

}

.box3 {

	background-color: #ffccdd ;
	padding: 15px ;
	width: 100%;
	text-align: center;	

}


@media (max-width: 760px) {

.topnav-links {

		flex-direction: column;


	}

.content {

		flex-direction: column;
	
		padding: 10px 0;


	}
}
























